
.mainForm{
    background: transparent;
}

img{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 18%;
}

.po{
    margin-left: auto;
    margin-right: auto;
}

.form-signin{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.reservedPOcard, .showReservedPOCard{

    margin-top: -40%;
    overflow: auto;
    overflow-y: auto;
    height: 50%;
}

.card{
    min-width: 40%;
    margin-left: auto;
    margin-right: auto;

}

.enterPObutton, .filterButton{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.poList{
    margin-top: 5%;
}

.poHead{
    position: fixed;
    margin-top: -5%;
    width: 100%;
    z-index: 99;
    background-color: white;
    justify-content: center;

}

.filterHead{
    position: fixed;
    margin-top: -5%;
    width: 100%;
    z-index: 99;
    background-color: white;
    justify-content: center;
}

.poFooter{
    position: fixed;
    margin-bottom: -5%;
    width: 100%;
    z-index: 99;
    background-color: white;
    justify-content: center;
}

.searchBox{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

iframe{
    width: 100%;
    border: none;
    height: 50%;
    top: -10%;
}

.showPO{
    width: 100%;
    height: 50%;
}

.mergePO{
    width: 100%;
    height: 100%;
}

.uploadFilesSection{
    margin-top: 5%;
}

table{
    table-layout: fixed;
}
td{
    word-wrap:break-word;
	width:15%;
}

th{
    width: 1%;
    word-break: break-word;
}

.session{
    color: white;
    border: solid;
    border-color: darkred;
    background-color: indianred;
    width: 20%;
    margin-left: 40%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.addItemButton, .btnNext{
    width: 100%!important;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    border: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a29ea8;
}